<<<<<<< HEAD
.toolbar {
  background-color: aqua;
  width: 100%;
  border: 1px solid black;
}
=======
.toolbar{
    background-color: aqua;
    width: 100%;
    border: 1px solid black;
}
>>>>>>> desafioReactiveForms
